
.wrapper {
    position: relative;
    width: 240px;
    height: 300px;
    background: #fff;
    border:none;
    border-radius: 6px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.09), 0 4px 12px 0 rgba(0, 0, 0, 0.19);
    margin: 30px;
  }
  
  
  .header {
    width: 240px;
    height: 100px;
    background: url("https://www.gstatic.com/classroom/themes/img_learnlanguage.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
  
  .header img {
    width: 100px;
    height: 100px;
    background: linear-gradient(to right, #232526, #414345);
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 50%;
    padding: 1px;
    transform:         translate(-50%,-50%);
  }
  
  .body .text {
    position: absolute;
    height: auto;
    width: 100%;
    top: 50%;
    transform:         translateY(-50%);
  }
  
  .body .text h1 {
    font-size: 26px;
    margin: 0;
    color: #110934;
  }
  
  .body .text span {
    font-size: 16px;
    color: #41295;
  }
  
  
  .body {
    width: 100%;
    height: 240px;
    background: none;
    position: relative;
    text-align: center;
  }
  