.file_box{
    position: relative;
    width: 400px;
    padding: 6px;
    background-color: rgba(223, 219, 219, 0.932);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    margin: 20px;
    border-radius: 5px;
    margin-right: auto;
    padding-bottom: 16px;
    border-bottom-left-radius: 0px; 
    cursor: pointer;
}

.inner_file_box{
    width:auto;
    height: auto;
    padding: 8px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    margin-bottom: 0px;
}

.file_name{
    color: black;
    font-weight: bold;
    font-size: 15px;
}

.file_type{
    position: absolute;
    font-size: 10px;
    left:15px;
    margin-top: 2px;
}

.file_size{
   position: absolute;
    font-size: 10px;
    right:15px;
    margin-top: 2px;
}