.fileUpload_bgCover{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 90;
    background-color: rgba(12, 12, 12, 0.63);
    transition: 1s;

}

.close{
  position: absolute;
  top: -10px;
  right: 20px;
  font-weight: 700;
  font-size: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}

.upload_container{
    position: fixed;
    height: 300px;
    width: 600px;
    background-color: white;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    text-align: center;
}

.form_heading{
    color: #292929;
    text-align: center;
    padding: 5px;
}

.file_main{
    text-align: center;
    padding: 10px;
}


.progress {
  opacity: 0;
  height: 15px;
  width: 300px;
  background-color: lightgray;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.progress-done {
  height: 100%;
  width: 0;
  opacity: 1;
  background: linear-gradient(315deg, #08e1ae 0%, #98de5b 74%);
  color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
  font-size: smaller;
}


[type="file"] {
    /* Style the color of the message that says 'No file chosen' */
    color: #878787;
  }
  [type="file"]::-webkit-file-upload-button {
    background: #3cb371;
    border: 2px solid #3cb371;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    outline: none;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: all 0.5s ease;
  }
  
  [type="file"]::-webkit-file-upload-button:hover {
    background: #fff;
    border: 2px solid #535353;
    color: #000;
  }

  .upload{
      padding: 7px;
      background-color: white;
      color: black;
      border: 2px solid #3cb371;
      border-radius: 5px;
      width: 100px; 
      transition: 0.2s ease-in;
      font-size: +2;
      font-weight: 600;
      margin-top: 15px;
  }

  .upload:hover{
    background-color: #3cb371;
    color: white;
    border: 2px solid#399b65;
  }

  .errorDetail{
    font-size: small;
    text-align: center;
    color: rgb(206, 17, 17);
    font-family: sans-serif;
    margin-top: 20px;
  }