.bgCover{
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 90;
    background-color: rgba(12, 12, 12, 0.63);
    transition: 1s;
}

.popup{
    position: absolute;
    height: 150px;
    width: 250px;
    background-color: white;
    border-radius: 6px;
    top: 50%;
    left: 50%;
    transform:         translate(-50%,-50%);
}

.joinClass__btn{
    
    width: 100%;
    height: 50%;
    font-size: 18px;
    font-weight: 500;
}