  .preloader-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15000;
    background: #f5f5f5;
    font-family: "Josefin Sans", sans-serif;
  }
  
  .wrap {
    position: relative;
    overflow: hidden;
  }
  .wrap:after {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    background: #f5f5f5;
    animation: translate 4s steps(22) infinite;
  }
  @-webkit-keyframes translate {
    0% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes translate {
    0% {
      transform: translateX(0);
    }
    60% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  .wrap span {
    font-size: 36px;
    font-weight: bold;
    display: block;
  }