.App {
 
}

.home__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: inset 13px -114px 0px -112px rgba(0,0,0,0.3); */
}

.home__title h2{
  padding: 10px 0px 0px;
  font-family: Roboto,san-serif;
  font-weight: 500;
  font-size: 22px;
  color: #5F6368;
  line-height: 22px;
  top: -0.375rem;
}

.home__title{
  height: 5rem;
  padding-left: 1.5rem;
  padding: 0 0 0 24px;
}

.home__container{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home__Profile {
  margin-right: 25px;
}